*{
    box-sizing:border-box;
	margin:0px;
}

.header2{
    background-color:black;
    width:1600px;
    margin:auto;
    height:80px;
}

.header21{
    width:72px;
    height:72px;
    float:left;
    margin-right:50px;
    margin-left:50px;
}

.header22{
    width:90px;
    height:48px;
    float:left;
    margin-top:25px;    
}

.header23{
    width:40px;
    height:30px;
    float:left;
    margin-left:1000px;
    margin-top:30px;    
}

.header24{
    width:40px;
    height:30px;
    float:right;
    margin-right:200px;
    margin-top:30px;    
}

.movies{
   height:300px;
   width:1600px;
   margin:auto;
   background-color:silver;
   border:1px solid black;
   
}

.movie_image{
    width:200px;
    height:252px;
    float:left;
    margin-right:30px;
    margin-bottom:10px;
}

.movie_details{
    width:728px;
    height:200px;
    padding:0px 9px 0px 0px;
    float:left;
    
}

.movie_action{
    width:1365px;
    height:75px;
    padding:0px 9px 0px 0px;
    float:right;
}

.rating_count{
   width:200px;
    height:75px;
    padding:0px 9px 0px 0px;
    float:left;
}

.like{
    width:32px;
    height:32px;
    padding:2px 4px 1px 4px;
    float:left;
    margin-right:25px;
}

.count{                                                                                                                                                                                                                    
    width:40px;
    height:40px;
    padding:10px;
    border-radius:30px;
    float:left;
    border: 1px solid rgba(94, 94, 117, 1); 
}

.dislike{
    width:32px;
    height:32px;
    padding:2px 4px 1px 4px;
    float:left;
}

.delete{
    width:26px;
    height:29px;

    float:right;
}


.add_movies{
    width:1600px;
    height:277px;
    margin:auto;
    background-color:silver;
    border:1px solid black;
}

.add_movies1{}

.add_movies2{
    width:517px;
    height:52px;
}

.footer{
    width:1600px;
    height:150px;
    margin:auto;
    border-radius:2px;
    background:rgba(39, 39, 52, 1);
}





























